<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infra.mapper.ProductMapper">
    <insert id="insert">
        INSERT INTO product (productId, productCd, productName, price, deletedFlg, version)
        VALUES (#{productId}, #{productCd}, #{productName}, #{price}, #{deletedFlg}, #{version})
    </insert>
    <select id="selectList" resultType="com.infra.entity.ProductEntity">
        SELECT productId, productCd, productName, price, deletedFlg, version FROM product
    </select>
</mapper>