<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.infra.mapper.ItemInfoMapper">
    
    <insert id="insert">
        INSERT INTO iteminfo (id, name, price)
        VALUES (#{id}, #{name}, #{price})
    </insert>
    
    <select id="selectList" resultType="com.infra.entity.ItemInfoEntity">
        SELECT id, name, price FROM item.iteminfo
    </select>
    
    <update id="update">
        UPDATE iteminfo SET id = #{id}, name = #{name}, price = #{price} WHERE id = #{id}
    </update>
    
    <select id = "selectForUpdate" resultType="com.infla.entity.IteminfoEntity">
        SELECT id, name, price FROM iteminfo WHERE id = #{id}
    </select>            
    
</mapper>