<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/user.css}" />

    <title>商品一覧</title>

</head>

<body>
    <div class="main">
        <div class="header">
            <h1>商品一覧</h1>
        </div>
        <div class="contents">
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th name="productCode">商品コード</th>
                        <th name="productName">商品名</th>
                        <th name="productPrice">価格</th>
                    </tr>
                </thread>
            </table> 
       
            <div class="footer">
                <a th:href="@{/newCreate}" tabindex="3" name="createLink">商品登録</a>
                <p><a th:href="@{/}" tabindex="4" name="topLink" >トップへ戻る</a></p>
            </div>

        </div>
    </div>
</body>

</html>